Flask==2.0.2
Flask-APScheduler==1.12.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
psycopg2==2.9.3
PyYAML==6.0
redshift-connector==2.0.903
snowflake-sqlalchemy==1.3.3
snowplow-tracker==0.10.0
sqlalchemy-redshift==0.8.9
