.formLabel {
    color: #1a1c21;
    font-weight: 600;
    display: inline-block;
    transition: all .15s cubic-bezier(.694,.0482,.335,1);
    font-size: .75rem;
    line-height: 1.5;
    margin-bottom: 4px;
}
.formLabel:focus {
    border-bottom-color: #006bb4;
}


.formFieldText {
    max-width: 400px;
    width: 100%;
    height: 40px;
    background-color: #fbfcfd;
    background-repeat: no-repeat;
    background-size: 0 100%;
    box-shadow: 0 1px 1px -1px rgb(152 162 179 / 20%), 0 3px 2px -2px rgb(152 162 179 / 20%), inset 0 0 0 1px rgb(15 39 118 / 10%);
    transition: box-shadow .15s ease-in,background-image .15s ease-in,background-size .15s ease-in,background-color .15s ease-in;
    font-family: "Inter UI",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    letter-spacing: -.005em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-kerning: normal;
    font-feature-settings: "kern";
    font-kerning: normal;
    font-size: 14px;
    color: #343741;
    border: none;
    border-radius: 0;
    padding: 12px;
}
.formFieldText:focus {
    border-bottom-color: #006bb4;
}

.formGroup {
    margin-top: 16px;
}

.formButton {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
    vertical-align: middle;
    font-family: "Inter UI",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    letter-spacing: -.005em;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-kerning: normal;
    font-feature-settings: "kern";
    font-kerning: normal;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 2px -1px rgba(152,162,179,.3);
    border-radius: 4px;
    min-width: 112px;
}
.formButton--primary{
    color: #fff;
}
.formButton--fill {
    background-color: #006bb4;
    border-color: #006bb4;
}

.horizonalRule {
    border: none;
    height: 1px;
    background-color: #d3dae6;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
}
.horizontalRule--marginLarge {
    margin: 24px 0;
}
.horizontalRule--full {
    width: 100%;
}


.cardIcon {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    -webkit-transform: translate(0);
    transform: translate(0);
    margin-top: 8px;
}
.cardIcon--selected {
    color:#01776d;
    margin-top: 0;
}
.cardIcon--xLarge {
    width: 32px;
    height: 32px;
}
.cardIcon--small {
    width: 12px;
    height: 12px;
}
.cardIcon--isLoaded {
    -webkit-animation: euiIconLoading .25s ease-in 0s 1 forwards;
    animation: euiIconLoading .25s ease-in 0s 1 forwards;
}
.cardicon--zindex-5 {
    z-index: 5
}

.buttonContent {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.cardSelect {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px!important;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: 700;
    border: none;
    justify-content: center;
    align-items: center;
}
.cardSelect :hover {
    background-color: inherit;
    text-decoration: underline;
}
.cardSelect--success:enabled {
    background-color: #e6f2f1;
    color: #01776d;
}
.cardSelect--disabled {
    background-color: #f5f7fa;
    color: #343741;
}

.card-footer {
    padding: none;
    background-color: inherit;
    border-top: none;
}

.sourceCard {
    background-color: #fff;
    padding: 16px;
    display: flex;
    margin:12px;
    border-radius: 4px;
    padding-bottom: 56px;
}
.sourceCard:hover {
    transform: scaleY(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.sourceCard--isClickable {
    display: -webkit-flex;
    width: 100%;
    transition: all .15s cubic-bezier(.694,.0482,.335,1);
}
.sourceCard--isClickable :hover :focus {
    box-shadow: 0 4px 8px 0 rgba(152,162,179,.15),0 2px 2px -1px rgba(152,162,179,.3);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    cursor: pointer;
}
.sourceCard--hasShadow {
    box-shadow: 0 2px 2px -1px rgba(152,162,179,.3),0 1px 5px -2px rgba(152,162,179,.3);
    border: 1px solid #d3dae6;
}
.sourceCard--centerAligned {
    text-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.sourceCard--border-enabled {
    border-color: #017d73!important;
}
.cardText {
    margin-bottom:1em;
    color: #343741;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    color: inherit;
    clear: both;
    line-height: 1.5rem;
}
.cardText--small {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.3125rem;
}

.buttonContent > .buttonText {
    font-weight: 700;
}

.buttonText {
    margin-inline-start: 8px;
}
.buttonText--success {
    background-color: #e6f2f1;
    color: #01776d;
}



.card-body {
    padding: 0;
}
.card-body .card-title {
    margin: 1em;
}


.cardGroup {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
}
.cardGroup--large {
    margin: -12px;
    -webkit-align-items: stretch;
    align-items: stretch;
}
.cardGroup > .sourceCard {
    margin:12px
}

/* .euiCard--isSelectable--success.euiCard-isSelected:not(.euiCard-isDisabled) {
    border-color: #017d73!important;
} */
